@charset "UTF-8";

/*

Typical device breakpoint:
Telas pequenas: até 600px
Celular: 600px até 768
Tablet: de 769px até 992px
Desktop: de 993 até 1200
Telas Grandes: de 1201 em diante

*/

@media screen and (min-width: 769px) {  
    #skill-container {
        grid-template-columns: 1fr 1fr;
    }

    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #projeto-container .projeto-info{
        max-width: 80%;

    }

    #projeto-container .foto {
        aspect-ratio: 1/1;
        width: 20%;
        max-height: 200px;
    }
}